.container {
    display: grid;

    /* 
        we can set the number of columns we want by using the fraction unit 
        here 12 columns of 1 unit
        grid-template-columns: repeat(12, 1fr);
    */
    

    /*
      grid-template-rows: 50px 50px;
      is the same than grid-template-rows: repeat(2, 50px); 
    */
    
    /* 
    There's a shorthand for that 
    grid-template: rows / col  
    to remember the order it's like drawing a L  ( first the rows then the cols ) 
    */ 
    grid-template: repeat(2, 50px) / repeat(3, 1fr);

    grid-gap: 3px;
}