:root {
    --primary: #ddd;
    --dark: #333;
    --light: #FFF;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.btn {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

/* Header */


header {
    display: grid;
    grid-gap: 30px;

    grid-template-areas:
        'info img';
}

header .info p {
    text-align: justify;
}

header .info {
    grid-area: info;
}

header img {
    padding: 2rem;
    max-width: 100%;
    grid-area: img
}


/* products */

.products {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr)
}

.products article {
    background-color: var(--primary);
    box-shadow: var(--shadow);

    margin-top: 2rem;
    text-align: center;
}

.products article .price {
    font-size: 1.4rem;
}


/* user */

.users {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;

}

.users article {
    background-color: var(--primary);
    box-shadow: var(--shadow);
    text-align: center;
    padding: 2rem;
}



@media only screen and (max-width: 700px) {

    header {
        grid-template-areas:
            'img'
            'info';
    }

    header img {
        padding: 0;
    }



    .users {
        grid-template-columns: 1fr;
    }

}




@media only screen and (max-width: 400px) {

    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}