<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
     <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="preload" as="font" href="/font" crossorigin>
</head>
<body>
    
{{{body}}}

  
</body>
      <script src="/client.js" defer></script>
</html> 