.container {
    display: grid;
    grid-gap: 5px;


    /* 

    auto-fit : 

    repeat(6, 100px) creates 6 cols of 100px each  
    but if I want to fit as many col as possible of 100px each I can use autofit
    repeat(auto-fit, 100px); 

    */


    /*

    minmax : 

    If I strech my page but not enough to create an other 100px spot 
    I can distribute the new space eaqualiy with min max, but with a guarantee that my cols will be 100px at least 
   
    Instead of : repeat(auto-fit, 100px); 

    repeat(auto-fit, minmax(100px, 1fr) );

    Minimum 100px, max 1fr 

    */

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}