.container {
    display: grid;
    grid-gap: 5px;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    /*

    grid-auto-rows: 100px;

    When we use grid-template-rows: repeat(2, 100px); we define 2 rows at 100px heigh each 
    But when our grid overflows ( going bigger than 2 rows ) this rule doesn't apply annymore. 

    We can give an auto value to all created rows by using grid-auto-rows
    */

    grid-auto-rows: 100px;

}