h1 {
  font-size: 6em;
  text-align: center;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 50px;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
}

.default-font h1 {
  font-size: 52px;
  line-height: 1;
  font-family: Georgia, serif;
  font-weight: 100;
  word-spacing: 4.5px;
  color: black;
}
.default-font p {
  font-size: 17px;
  line-height: 1.65;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  visibility: visible;
  word-spacing: -0.7px;
}

/** ignore **/
section {
  padding-left: 15%;
  padding-right: 15%;
}
section p {
  text-align: justify;
}

button {
  width: 300px;
  height: 50px;
  display: block;
  margin: auto;
  background-color: transparent;
  color: black;
  border: solid black 3px;
  font-size: 1.5em;
}
button:hover {
  background-color: black;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
